<html>
    <head>

    </head>
    <body>
        <form method="GET" action="sendResetCode">
            {% csrf_token %} 
            Email : <input type="email" required name="email" > 
            <label style="color: green" id="lblSuccess">{{ message_success }}</label>
            <label style="color: red" id="lblError">{{ message_error }}</label><br> 
            <input type="submit" value="Send Reset Code">
        </form>
        <hr>
        <form method="POST" action="recoverPassword"> 
            {% csrf_token %} 
            Email : <input type="email" required name="txtEmail"> <br>
            Reset Code : <input type="text" name="txtResetCode" required><br>
            New Password : <input type="password" name="txtNewPassword" required><br>
            Confirm New Password : <input type="password" name="txtConfirmNewPassword" required><br>
            <input type="submit" value="Reset Password"><br>
            <label style="color: green" id="lblSuccess">{{ message_success2 }}</label>
            <label style="color: red" id="lblError">{{ message_error2 }}</label><br> 
        </form>
    </body>
</html>